{% extends 'menu.html' %}

{% block headpage %}
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/selection.js') }}"></script>
    <link href="{{ url_for('static', filename='css/loader.css') }}" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/jquery-fieldselection.js') }}"></script>

    <link href="{{ url_for('static', filename='css/jquery.highlight-within-textarea.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery.highlight-within-textarea.js') }}"></script>


    <style>
			.hwt-container {
                width: 100%;
				background-color: #f8f9fa;
			}

			.hwt-content {
                width: 100%;
                display: block;
                height:400px ;
				padding: 20px;
				border: 1px solid #adb5bd;
				color: inherit;
				font: 18px/25px 'Droid Sans Mono', sans-serif;
			}

			.hwt-input:focus {
				outline-color: #495057;
			}

			.hwt-content mark {
				border-radius: 3px;
				background-color: #d0bfff;
			}

			.hwt-content mark.red {
				background-color: #ffc9c9;
			}

			.hwt-content mark.blue {
				background-color: #a3daff;
			}

			.hwt-content mark.yellow {
				background-color: #ffec99;
			}
		</style>

{% endblock %}
{% block content %}
    <div class="row">




        <div class="col-2">
         <ul class="list-group scroll-list-image " style="height: 700px;">

                {% for  page in pages %}

                    {% if loop.index == 0 %}
                        {% set first_page_num = page.num_page %}
                    {% endif %}

                    <li class="page-element-selection list-group-item" data-pdf_id="{{ pdf_id }}" data-page_number="{{ page.num_page }}">
                        <div class="card">
                            <div class="card-header">
                                {% set num = page.num_page|int + 1 %}
                                {{ num }}
                            </div>
                            <div class="card-body">
                                <img width="100%" src="{{ url_for('scan_app.get_images' , pdf_id=pdf_id , page_number=page.num_page) }}">
                            </div>
                        </div>
                    </li>

                {% endfor %}
            </ul>
    </div>


    <div class="col">
                        <div id="load-process"></div>

            <h4 class="mt-3 mb-3">Text : </h4>
            <textarea id="textarea-text-page" class="selection form-control" style="height:400px"></textarea>
    </div>
      <div class="col-4">
           <form id="form-selection">
            <div class="row" >
                <div class="col-2">
                  <a class="btn btn-primary" id="btn-lang-1" style="margin-top: 120px"><i class="fa fa-arrow-circle-right"></i></a>
                </div>

                <div class="col">
                        <div class="form-group">
                          <label for="sel1">Select Language:</label>
                          <select class="form-control" id="lang-select-1">
                            <option>Language1</option>
                            <option>Language2</option>
                            <option>Language3</option>
                            <option>Language4</option>
                          </select>
                        </div>
                        <div id="textarea_lang_1" style="min-height: 150px;" readonly class="form-control"></div>
                </div>
            </div>
            <div class="row" >
                <div class="col-2">
                  <a class="btn btn-primary" id="btn-lang-2" style="margin-top: 120px"><i class="fa fa-arrow-circle-right"></i></a>
                </div>
                <div class="col">
                        <div class="form-group">
                          <label for="sel1">Select Language:</label>
                          <select class="form-control" id="lang-select-2">
                            <option>Language1</option>
                            <option>Language2</option>
                            <option>Language3</option>
                            <option>Language4</option>
                          </select>
                        </div>
                        <div id="textarea_lang_2" style="min-height: 150px;" readonly class="form-control"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="submit" class="btn btn-primary btn-block m-2" value="Add">
                </div>
            </div>

           </form>

        </div>
    </div>



{#            <script>#}
{#                $(function () {#}
{#                     $('.selection').highlightWithinTextarea({#}
{#                        highlight: [0, 0]#}
{#                    });#}
{#                });#}
{##}
{#			</script>#}

		</section>

{% endblock %}